<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ToDos List - MySite</title>
</head>
<body>


{# view, i think is a hard coded name in order to get view properties, this could be a good question for Paul/stackover flow #}
{#  <h1>{{ view.current }}</h1> #}

<h4>yoooo {{ todo.id }}</h4>

<form method="POST">
    <input name="new_title"/>
    {# this will trigger the POST decorator, edit_handler() in views.py #}
    <input type="submit" name="form.submit"/>
    {# this will trigger the default decorator, edit() in views.py #}
    <input type="submit" name="form.cancel" value="Cancel"/>
</form>



</body>
</html>
