<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ToDos List - MySite</title>
</head>
<body>

{# python express, call to pyramid's request.route_url to compute our url #}

<h1>{{ current }}</h1>



</body>
</html>
