{%  extends "base.jinja2" %}
{%  block title %}ToDos List{% endblock %}
{%  block content %}

    {# python express, call to pyramid's request.route_url to compute our url #}
    <a href="{{ request.route_url('add') }}">add  </a>
    <h1>ToDos - List</h1>
    <br/>

    {% if msg %}
        <h5>{{  msg }}</h5>
    {% endif %}

    {# the id value that we are passing in our request.route_url is a nessesary
    the value id is called such because in our __init__.py routes this is what is expected
    other size the api will not work #}

    {# if and for are both examples of control structures #}

    {%  for todo in todos %}
        <a href="{{ request.route_url('view', id=todo.id) }}">
            {{ todo.title }}
        </a>
        <a href="{{ request.route_url('edit', id=todo.id) }}"> </a>
        <a href="{{ request.route_url('delete', id=todo.id) }}">delete  </a>
    {% endfor %}
{% endblock %}
