{%  extends "base.jinja2" %}
{%  block title %}LOST{% endblock %}
{%  block content %}

{# python express, call to pyramid's request.route_url to compute our url #}
<a href="{{ request.route_url('add') }}">text  {{ view.current }} </a>
<br/>



{%  endblock %}
